body{
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    overflow-x: hidden;
    scrollbar-width: 0px;
    overflow-y: auto;
    
}
html {
    scroll-behavior: smooth;
  }

.logo{
    height: 70px;
    width: 60px;
    padding: 10px;
    background-size: cover;
    background-image: url("media/logo.png");
}
.nav_bar{
padding: 15px;
width: 100%;
display: flex;
justify-content: space-evenly;
text-align: center;
}
.nav_bar a{
    color: rgb(88, 86, 86);
    text-decoration:none;
    padding: 5px;
    border-radius: 10px;
    font-size: 16px;
    font-family:  ' Bold', sans-serif;
   
}
a:hover{
    /* color: #f4511e */
    color: #7199f7;
}
.button{
    display: inline-block;
    border-radius: 8px;
    background-color: #7199f7;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    height: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
.card{
    height: 200px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
h5{
    color: #f4511e;
}
h1{
    color: #393737;
}
.card_text p{
    color: #514c4c;
}
.card_choose_property{
    width: 700px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.958);
    z-index: 10;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card_choose_property select{
   width: 130px;
   height: 30px;
   border-radius: 10px;
   padding: 10;
   padding-left: 10px;
   padding-right: 10px;
   text-align: center;
   font-size: 12px;
   color: rgb(81, 87, 87);
   appearance: none;
}
.card_text{
    margin-left: 200px;
    margin-top: 50px;
}
.card_img1{
    height: 400px;
    width: 700px;
    background-size: cover;
    background-image: url("media/card_img1.png");
    z-index: -1;
}

.flat_show{
    width: 100%;
    height: 100%;
    margin-top: 20%;
    text-align: center;

}
.main_house{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.house1{
    height: 400px;
    width:300px;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(147, 131, 131, 0.2), 0 6px 20px 0 #9d9b9b30;
}
.flat_info {
    padding: 10px;
}
.house1:hover{
    box-shadow: 0 4px 8px 0 rgba(147, 131, 131, 0.2), 0 6px 20px 0 #44404030;
}


.house1{
    overflow: hidden;
}
.house1 img{
    border-radius: 10px;
    transition: transform 1s ease;
}


.house1:hover img {
    border-radius: 10px;
	transform: scale(1.1);
}
/* 
select:hover{
    box-shadow: 0 4px 8px 0 rgba(147, 131, 131, 0.2), 0 6px 20px 0 rgba(68, 64, 64, 0.19);

} */

.login{
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: #88808030;
    position: absolute;
    top: -0%;
    left: -0%;
    z-index: 10;
    display: flex;
    justify-content: center;
}
.login_card{
    height: 500px;
    width: 500px;
    background-color: #FFFFFF;
    position: absolute;
    top: 20%;
    left: 35%;
    z-index: 11;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.login_card div{
    margin: 80px;
}
.login_card input{
  font-size: 18px;
  text-align: center;
  outline: 0;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #7199f7;
  
}
.login_card button{
    display: inline-block;
    border-radius: 8px;
    background-color: #7199f7;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    height: 35px;
    margin-left: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/* type property */


.select_type_property{
    margin-top: 5%;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-radius: 10px;
}
.select_type_property img{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(147, 131, 131, 0.2), 0 6px 20px 0 rgba(68, 64, 64, 0.19);

}
.for_family_text {
    position: absolute;
    color: black;
    margin-left: 24px;
    font-size: 28px;
}

/* tool section */
.tool_section{
    background-color: #7eccfc34;
    width: 100%;
    height: 350px;
    margin-top: 10%;
    justify-content: center;
   

}
.tool_section_heading{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.tool_section_heading h1{
    font-size: 20px;
}
.tool_section_heading p{
    font-size: 16px;
    margin-top: 0px;
}
.Service{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.emi_contenar{
    height: 180px;
    width: 160px;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;


}
.link_service {
    color: black;
    outline: none;
    font-weight: bold;
    text-decoration: none;
}
.link_service :hover{
  color: black;
}
.img_logo_div{
    width: 100px;
    background-color:#faeedb ;
    border-radius: 50%;
    overflow: hidden;
    padding: 10px;
    margin-left: 10%;

}
.scroll-wrapper {
    display: inline-flex; 
    gap: 20px;
}

/* flat type */

.flat_type_heading{
    margin-left: 3%;
    color: #24262b;
}
.flat_type{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 10px;
}
.text_bulding {
    position: absolute;
    color: black;
    margin-left: 15px;
}
.Residential{
    overflow: hidden;
}
.Residential img{
    border-radius: 10px;
    height: 100%;
    transition: transform 1s ease;
}
.Residential h1{
    z-index: 10;
    transition: all 0.3s ease, top 0.3s ease 0.2s;
}

.Residential:hover img {
    border-radius: 10px;
	transform: scale(1.1);
}


/* //footer */

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 20%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}