@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");

:root {
	--white: #ffffff;
	--white-25: #e5e5e5;
	--white-50: #f5f5f5;
	--white-55: #f6f6f6;
	--black: #353535;
	--black-25: #5b5b5b;
	--border-5: 5px;
	--padding-1: 1rem;
	--padding-2: 2rem;
	--padding-3: 3rem;
	--margin-1: var(--padding-1);
	--margin-2: var(--padding-2);
	--margin-3: var(--padding-3);
}

.material-symbols-rounded {
	user-select: none;
	font-variation-settings: "FILL" 0, "wght" 250, "GRAD" 0, "opsz" 48;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "lora", sans-serif;
}

body {
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: var(--margin-3);
	width: 100%;
}


.most-popular-products {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 var(--padding-1);
	gap: 10rem;
	width: 100%;
}

.product-card {
	display: flex;
	flex-direction: column;
	position: relative;
	min-width: 250px;
	width: 100%;
	max-width: 40%;
	overflow: hidden;
	border: 1px solid var(--white-25);
	border-radius: var(--border-5);
}

.product-card__container {
	height: 360px;
	width: 100%;
	position: relative;
	background-color: var(--white-55);
	overflow: hidden;
}

.product-card__img {
	overflow: hidden;
}

.product-card__img img {
	position: absolute;
	width: 100%;
	transition: transform 4s ease;
}

.product-card__container:hover img {
	transform: scale(1.2);
}

.product-card__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 1rem;
	right: -1rem;
	width: 40px;
	height: 40px;
	background-color: var(--white);
	border-radius: 50%;
	color: var(--black-25);
	z-index: 10;
	cursor: pointer;
	opacity: 0;
	transition: all 0.3s ease, top 0.3s ease 0.2s;
}

.product-card:hover .product-card__btn {
	right: 1rem;
	opacity: 1;
}

.product-card:hover .product-card__btn.cart {
	top: calc(1rem + 50px);
}

.product-card__btn:hover {
	background-color: var(--black);
	color: var(--white-25);
}

.product-card__description {
	padding: calc(var(--padding-1) / 2) var(--padding-1);
	display: flex;
	flex-direction: column;
	row-gap: 0.2rem;
	font-size: 1.1rem;
}

.product-card__color {
	display: flex;
	column-gap: 0.5rem;
	padding: calc(var(--padding-1) / 2) var(--padding-1);
}

.product-card__btn-radio {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	border: none;
	outline: none;
	cursor: pointer;
	overflow: hidden;
}

.product-card__btn-radio span {
	position: absolute;
	width: 100%;
	height: 100%;
	flex-shrink: 0;
	border-radius: 50%;
	transition: all 0.3s ease;
}

.product-card__btn-radio.selected {
	border: 1.5px solid var(--black);
}

.product-card__btn-radio.selected span {
	width: 15px;
	height: 15px;
}

[data-tooltip]::before {
	content: attr(data-tooltip);
	position: absolute;
	background-color: var(--black);
	padding: 5px 10px;
	right: calc(100% + 5px);
	border-radius: var(--border-5);
	white-space: nowrap;
	font-size: 0.8rem;
	color: var(--white);
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease;
}

[data-tooltip]:hover::before {
	opacity: 1;
}

header{
	width: 100%;
	margin-bottom: 2%;
}

.logo img{
    padding: 10px;
    background-size: cover;
}
.nav_bar{
display: flex;
flex-direction: row;
justify-content: space-evenly;
text-align: center;
}
.nav_bar a{
    color: rgb(88, 86, 86);
    text-decoration:none;
    padding: 5px;
    border-radius: 10px;
    font-size: 16px;
    font-family:  ' Bold', sans-serif;
   
}
a:hover{
    /* color: #f4511e */
    color: #7199f7;
}
.button{
    display: inline-block;
    border-radius: 8px;
    background-color: #7199f7;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    height: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }